@model Tweeter.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Do you want to update or delete your profile?</h3>
<div>
    <h4>Your Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Edit" class="btn btn-default" formaction="@Url.Action("Edit/"+Model.user_id)" formmethod="get" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Tweet", "../Tweets/Index")
        </div>
    }
</div>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> @ViewBag.ErrorMessage
    </div>
}
