@model Tweeter.Models.Tweet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tweet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tweet_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> @ViewBag.ErrorMessage
    </div>
}